# Prisma
DATABASE_URL="postgresql://your-username:your-password@your-host:your-port/your-database"
DIRECT_URL="postgresql://your-username:your-password@your-host:your-port/your-database"

# Supabase
NEXT_PUBLIC_SUPABASE_URL="https://your-supabase-url.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="your-supabase-publishable-key"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-supabase-anon-key"


#Finhub
FINHUB_API_KEY="your-finhub-api-key"